<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hisign.sso.persist.mapper.sys.ServiceResourceMapper">

<!-- 增加信息 -->
	<insert id="add" parameterType="ServiceResource">
		insert into UAOP_SERVICE_RESOURCE (
		<include refid="selectId" />
		)
		values (
		<include refid="insertId" />
		)
	</insert>
	
	<!-- 批量增加信息 -->
	<insert id="addBatch" parameterType="java.util.List">
		BEGIN
		<foreach collection="list" item="item" index="index"
			separator=";">
			insert into UAOP_SERVICE_RESOURCE (
			<include refid="selectId" />
			)
			values
			(
			<include refid="insertBatchId" />
			)
		</foreach>
		;
		END;
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="ServiceResource">
		update UAOP_SERVICE_RESOURCE
		<set>
			<include refid="updateId" />
		</set>
		where SYSTEM_ID=#{systemId} and RESOURCE_ID=#{resourceId}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="ServiceResource">
		delete from UAOP_SERVICE_RESOURCE where  SYSTEM_ID=#{systemId} and RESOURCE_ID=#{resourceId}
	</delete>
	
	<!-- 根据主键查询 -->
	<select id="getById" resultMap="serviceResourceMap" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from UAOP_SERVICE_RESOURCE
		<where>
			SYSTEM_ID=#{systemId} and RESOURCE_ID=#{resourceId}
		</where>
	</select>
	
	<sql id="clausePage">
		from UAOP_SERVICE_RESOURCE
		<where>
			<if test="systemId != null and systemId != ''">
				and SYSTEM_ID=#{systemId}
			</if>
			<if test="serviceName != null and serviceName != ''">
				and SERVICE_NAME like '%'||#{serviceName}||'%'
			</if>
			<if test="interfaceName != null and interfaceName != ''">
				and INTERFACE like '%'||#{interfaceName}||'%'
			</if>
			<if test="note != null and note != ''">
				and NOTE like '%'||#{note}||'%'
			</if>
			<if test="superId != null and superId != ''">
				and SUPER_ID=#{superId}
			</if>
		</where>
	</sql>

	<select id="query" resultMap="serviceResourceMap" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		<include refid="clausePage" />
	</select>

	<select id="count" resultType="Integer" parameterType="java.util.HashMap">
		select
		count(0)
		<include refid="clausePage" />
	</select>
	
	
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		SYSTEM_ID,RESOURCE_ID,SERVICE_NAME,SUPER_ID,URL,ICON,INTERFACE,VISIBLE_STATE,ORDER_NUM,NOTE
	</sql>

	<sql id="insertId">
		#{systemId,jdbcType=VARCHAR},#{resourceId,jdbcType=VARCHAR},#{serviceName,jdbcType=VARCHAR},#{superId,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{icon,jdbcType=VARCHAR},#{interfaceName,jdbcType=VARCHAR},#{visibleState,jdbcType=NUMERIC},#{orderNum,jdbcType=NUMERIC},#{note,jdbcType=VARCHAR}
	</sql>

	<sql id="insertBatchId">
		#{item.systemId,jdbcType=VARCHAR},#{item.resourceId,jdbcType=VARCHAR},#{item.serviceName,jdbcType=VARCHAR},#{item.superId,jdbcType=VARCHAR},#{item.url,jdbcType=VARCHAR},#{item.icon,jdbcType=VARCHAR},#{item.interfaceName,jdbcType=VARCHAR},#{item.visibleState,jdbcType=NUMERIC},#{item.orderNum,jdbcType=NUMERIC},#{item.note,jdbcType=VARCHAR}
	</sql>

	<sql id="updateId">
		SERVICE_NAME=#{serviceName,jdbcType=VARCHAR},URL=#{url,jdbcType=VARCHAR},ICON=#{icon,jdbcType=VARCHAR},INTERFACE=#{interfaceName,jdbcType=VARCHAR},VISIBLE_STATE=#{visibleState,jdbcType=NUMERIC},ORDER_NUM=#{orderNum,jdbcType=NUMERIC},NOTE=#{note,jdbcType=VARCHAR}
	</sql>

	<resultMap type="com.hisign.sso.api.entity.sys.ServiceResource" id="serviceResourceMap">
		<result property="systemId" column="SYSTEM_ID" />
		<result property="resourceId" column="RESOURCE_ID" />
		<result property="serviceName" column="SERVICE_NAME" />
		<result property="superId" column="SUPER_ID" />
		<result property="url" column="URL" />
		<result property="icon" column="ICON" />
		<result property="interfaceName" column="INTERFACE" />
		<result property="visibleState" column="VISIBLE_STATE" />
		<result property="orderNum" column="ORDER_NUM" />
		<result property="note" column="NOTE" />
	</resultMap>

</mapper>
