<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisign.sso.persist.mapper.sys.SysUserMapper">

	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	
	

	<!-- 根据用户名查询，用于登录 -->
	<select id="getByAccount" resultMap="sysUserMap" parameterType="String">
		select
		<include refid="selectId" />
		from uaop_sysuser
		<where>
			ACCOUNT=#{account} and STATUS=0
		</where>
	</select>
	
	<!-- 根据用户名查询，用于登录 -->
	<select id="getByUserId" resultMap="sysUserMap" parameterType="String">
		select
		<include refid="selectId" />
		from uaop_sysuser
		<where>
			USER_ID=#{userId} and STATUS=0 and rownum=1
		</where>
	</select>
	
	<!-- 输入用户名ID集合和角色类型，输出具有指定类型角色的用户ID集合 -->
	<select id="findSuperUsers" resultType="String" parameterType="java.util.HashMap">
		select user_id
		  from uaop_sysuser
		 where STATUS=0 and user_id in ${userIds}
		   and account in
		       (select account
		          from uaop_sysuser_role
		         where role_id in (select role_id from uaop_role where status = #{status}))
		         <!-- #{userIds}
		         ('DF3ABD064D41370C3F1B5EDF7B6F7766',
		        'DF3ABD064D41370C3F1B5EDF7B6F7766') -->
	</select>
	
	<!-- 修改密码 -->
	<update id="modifyPass" parameterType="java.util.HashMap">
		update UAOP_SYSUSER  set PASS=#{newPass},LAST_MODIFY_ACCOUNT=#{lastModifyAccount,jdbcType=VARCHAR},LAST_MODIFY_TIME=#{lastModifyTime,jdbcType=NUMERIC},LAST_TERMINAL=#{lastTerminal,jdbcType=VARCHAR},LAST_SYS=#{lastSys,jdbcType=VARCHAR} where ACCOUNT=#{account}
	</update>

	<!-- 根据账号查询用户的资源代码集合 -->
	<select id="findResByAccount" resultType="String" parameterType="java.util.HashMap">
		select
			RESOURCE_ID
		from uaop_role_resource
		<where>
			ROLE_ID in(select ROLE_ID from uaop_sysuser_role where ACCOUNT=#{account})
			and SYSTEM_ID=#{sysCode}
		</where>
		
	</select>
	
	<!-- 增加信息 -->
	<insert id="add" parameterType="SysUser">
		insert into UAOP_SYSUSER (
		<include refid="selectId" />
		)
		values (
		<include refid="insertId" />
		)
	</insert>

	<insert id="addBatch" parameterType="java.util.List">
		BEGIN
		<foreach collection="list" item="item" index="index"
			separator=";">
			insert into UAOP_SYSUSER (
			<include refid="selectId" />
			)
			values
			(
			<include refid="insertBatchId" />
			)
		</foreach>
		;
		END;
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="String">
		update UAOP_SYSUSER
		<set>
			<include refid="updateId" />
		</set>
		where ACCOUNT=#{account}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="String">
		delete from UAOP_SYSUSER where
		ACCOUNT=#{account}
	</delete>

	<sql id="clausePage">
		from UAOP_SYSUSER
		<where>
		    where STATUS=0
			<if test="userName != null and userName != ''">
				and USER_NAME like '%'||#{userName}||'%'
			</if>
			<if test="userId != null and userId != ''">
				and USER_ID=#{userId}
			</if>
			<if test="userType != null and userType != ''">
				and USER_TYPE=#{userType}
			</if>
		</where>
	</sql>

	<select id="query" resultMap="sysUserMap" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		<include refid="clausePage" />
	</select>

	<select id="count" resultType="Integer" parameterType="java.util.HashMap">
		select
		count(0)
		<include refid="clausePage" />
	</select>
	
	<select id="isAccountExist" resultType="Integer" parameterType="String">
		select count(0) from UAOP_SYSUSER  where ACCOUNT=#{account}
	</select>
	
	<update id="updateStatusById" parameterType="SysUser">
		update UAOP_SYSUSER
		<set>
			<include refid="updateStatusId" />
		</set>
		where ACCOUNT=#{account}
	</update>
	
	
	<!-- 根据userId列表批量更新状态 -->
	<update id="updateStatusByIdList" parameterType="java.util.Map">
		update UAOP_SYSUSER
		<set>
			<include refid="updateStatusId" />
		</set>
		where USER_ID in 
                 <foreach item="item" index="index" collection="ids" 
	               open="(" separator="," close=")">
	              #{item}
	        	 </foreach>
	</update>

		<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		ACCOUNT,USER_NAME,PASS,USER_ID,USER_TYPE,STATUS,CREATE_ACCOUNT,CREATE_TIME,LAST_TERMINAL,LAST_SYS
	</sql>

	<sql id="insertId">
		#{account,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{pass,jdbcType=VARCHAR},#{userId,jdbcType=NUMERIC},#{userType,jdbcType=NUMERIC},#{status,jdbcType=NUMERIC},#{createAccount,jdbcType=VARCHAR},#{createTime,jdbcType=NUMERIC},#{lastTerminal,jdbcType=VARCHAR},#{lastSys,jdbcType=VARCHAR}
	</sql>

	<sql id="insertBatchId">
		#{item.account,jdbcType=VARCHAR},#{item.userName,jdbcType=VARCHAR},#{item.pass,jdbcType=VARCHAR},#{item.userId,jdbcType=NUMERIC},#{item.userType,jdbcType=NUMERIC},#{item.status,jdbcType=NUMERIC},#{item.createAccount,jdbcType=VARCHAR},#{item.createTime,jdbcType=NUMERIC},#{item.lastTerminal,jdbcType=VARCHAR},#{item.lastSys,jdbcType=VARCHAR}
	</sql>

	<sql id="updateId">
		USER_NAME=#{userName,jdbcType=VARCHAR},PASS=#{pass,jdbcType=VARCHAR},USER_ID=#{userId,jdbcType=NUMERIC},USER_TYPE=#{userType,jdbcType=NUMERIC},STATUS=#{status,jdbcType=NUMERIC},LAST_MODIFY_ACCOUNT=#{lastModifyAccount,jdbcType=VARCHAR},LAST_MODIFY_TIME=#{lastModifyTime,jdbcType=NUMERIC},LAST_TERMINAL=#{lastTerminal,jdbcType=VARCHAR},LAST_SYS=#{lastSys,jdbcType=VARCHAR}
	</sql>
	
	<sql id="updateStatusId">
		STATUS=#{status,jdbcType=NUMERIC},LAST_MODIFY_ACCOUNT=#{lastModifyAccount,jdbcType=VARCHAR},LAST_MODIFY_TIME=#{lastModifyTime,jdbcType=NUMERIC},LAST_TERMINAL=#{lastTerminal,jdbcType=VARCHAR},LAST_SYS=#{lastSys,jdbcType=VARCHAR}
	</sql>

	<resultMap type="com.hisign.sso.api.entity.sys.SysUser" id="sysUserMap">
		<result property="account" column="ACCOUNT" />
		<result property="userName" column="USER_NAME" />
		<result property="pass" column="PASS" />
		<result property="userId" column="USER_ID" />
		<result property="userType" column="USER_TYPE" />
		<result property="status" column="STATUS" />
		<result property="createAccount" column="CREATE_ACCOUNT" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="lastModifyAccount" column="LAST_MODIFY_ACCOUNT" />
		<result property="lastModifyTime" column="LAST_MODIFY_TIME" />
		<result property="lastTerminal" column="LAST_TERMINAL" />
		<result property="lastSys" column="LAST_SYS" />
	</resultMap>
	
</mapper>