.fl {
  float: left;
}
.fr {
  float: right;
}
.content {
  background: #629fdf;
  color: #fff;
  padding: 70px 200px;
}
.content .title {
  padding-left: 305px;
  margin: 0;
  height: 115px;
  line-height: 115px;
  color: #85b4e6;
  font-size: 60px;
  background: url(../../../images/verison/clock.png) no-repeat 170px center;
  background-size: auto 100%;
}
.timeList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.timeList .total {
  width: 230px;
  padding: 20px 40px 20px 0;
  border-right: 3px solid #fff;
  text-align: right;
  font-size: 26px;
  cursor: default;
}
.timeList .caret {
  margin: 0 10px;
}
.timeList .open .caret {
  border-top: 0;
  border-bottom: 5px solid #fff;
}
.timeList .yearList li:first-child .monthList li:first-child .relTime {
  color: #fff;
}
.timeList .monthList {
  display: none;
}
.timeList .monthList .first {
  position: relative;
  width: 227px;
  padding: 10px 20px 10px 0;
  text-align: right;
  font-size: 12px;
  color: #b2d0ef;
  overflow: visible;
}
.timeList .monthList .first .relTime {
  font-size: 16px;
  padding-top: 10px;
}
.timeList .monthList .first .point {
  position: absolute;
  top: 24px;
  right: -8px;
  width: 14px;
  height: 14px;
  background: url(../../../images/verison/point.png) no-repeat center center;
}
.timeList .monthList .second {
  border-left: 3px solid #fff;
  padding: 10px 0 10px 40px ;
  color: #b2d0ef;
  font-size: 12px;
}
.timeList .monthList .second .improvementBig {
  font-size: 28px;
  line-height: 40px;
  color: #fff;
}
.borderLong {
  width: 230px;
  padding: 30px 40px 30px 0;
  border-right: 3px solid #fff;
}
